:root {
  --card_width: 300px;
  --row_increment: 10px;
  --card_border_radius: 16px;
  --card_small: 35;
  --card_medium: 37;
  --card_large: 39;
}

html {
  background-color: rgb(44, 44, 44);
  font-family: "Inter", sans-serif;
}

body {
  margin: 0;
  overflow-x: hidden;
}

body::-webkit-scrollbar{
  display: none;
}

.logo-anchor {
  width: 4em;
  height: 4em;
  text-align: center;
  line-height: 2em;
}

.title-anchor {
  width: 4em;
  height: 4em;
}

.logo-anchor > img {
  width: 4em;
  height: 4em;
  margin-left: 10px;
}

.logo-anchor > img:hover {
  transform: scale(1.05);
}

nav {
  padding: 12px;
  background-color: rgb(52, 52, 52);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  line-height: 40px;
  font-weight: bold;
  text-align: center;
  margin: auto;
  width: 200px;
  height: auto;
}
  
.profilebutton {
  margin-right: 70px;
  text-decoration: none;
  margin-left: auto;
  color: white;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.profilebutton > img {
  width: 7em;
}

.pin_container {
  margin-top: 90px;
  padding: 0;
  width: 100vw;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  grid-template-columns: repeat(auto-fill, var(--card_width));
  grid-auto-rows: var(--row_increment);
  justify-content: center;
}

/* Card */
.card {
    padding: 0px;
    margin: 15px 10px;
    
    border-radius: var(--card_border_radius);
    border: 0.1em solid rgb(53, 53, 53);
    background-color: rgb(132, 194, 249);
    position: relative;
    overflow: hidden;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.352);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-family: Arial, Helvetica, sans-serif;

    transition: transform 0.3s;
    
}

.card:hover {
  transform: scale(1.05);
}

.card > img {
  position: absolute;
  z-index: 0;
  height: 100%;
  width:100%;
  object-fit: cover;
  top: 0;
  left: 0;
}

.card_header {
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 3;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgb(99, 99, 99,20) 100%);

  color: white;
  font-weight: bold;
}

.song_title {
  margin-bottom:-10%;
  height: 150px;
  position: relative; 
  text-align: center;
  background: linear-gradient(0deg, rgb(99, 99, 99, 20) 0%, rgba(0, 0, 0, 0) 100%);
  z-index: 3;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items:flex-end;
  padding-left: 15px;
  padding-bottom: 25px;
}

.card_img_box {
  margin: 1em;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  overflow: hidden;
}

.card_img_box > img { /*profile picture*/
  height: 100%;
  object-fit: cover;
}

.card_header > * {
  z-index: 2;
}

.card_large > img {
  width: 100%;
  justify-content: center;
  align-content: center;
}

.card_small {
  grid-row-end: span var(--card_small);
}

.card_medium {
  grid-row-end: span var(--card_medium);
}

.card_large {
  grid-row-end: span var(--card_large);
}
