html {
    background-color: aliceblue;
}

body {
	background: linear-gradient(-45deg, rgb(85, 83, 238), #23a6d5, #23d538);
	background-size: 400% 400%;
	animation: gradient 12s ease infinite;
	height: 100vh;
    margin: 0;
    overflow: hidden;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.login-button {
    border: solid rgb(240, 238, 87);
    border-radius: 5px;
    padding: 10px 30px;
    font: inherit;
    font-size: 24px;
    background-color: rgb(240, 238, 87);
    transition: 0.15s;
}

.login-button:active {
    background: rgb(192, 191, 160);
}

.login-button:hover {
    border-color: #5A88FF;
    animation: login-hover 0.15s forwards; 
}

@keyframes login-hover {
    0% {background: rgb(247, 246, 197);}
    100% {background: rgb(134, 212, 167);}
}

.login-button:focus {
    outline:0;
}

.reauth-button {
    border: none;
    border-radius: 5px;
    padding: 10px 30px;
    font: inherit;
    font-size: 24px;
    background-color: rgb(245, 245, 253);
    transition: 0.15s;
}

.reauth-button:active {
    background: none;
}

.reauth-button:hover {
    border-color: rgb(245, 245, 253);
    animation: login-hover 0.15s forwards; 
}

@keyframes reauth-hover {
    0% {background: none;}
    100% {background: rgb(238, 238, 231);}
}

header {
    padding: 80px;
    text-align: center;
    background-color: rgb(11, 27, 56)
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8em;
    font-family: 'Inter';
    height: 35vh;
    width: 100vw;
}

.hero-text {
    max-width: 50%;
    padding: 40px;
    border-radius: 20px;
    background-color: rgb(245, 245, 253);
}

.hero-text > * {
    margin: 0;
    height: 10
}

.heading {
    padding: 0;
    font-weight: 700;
    font-size: 55px;
}

.subheading {
    padding: 0;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 20px;
}

.hero-image {
    margin-top: -18%;
}

.hero-image > img {
    height: 70vh;
    border-radius: 20px;
    margin-top: 10px;
}

.mascot-image > img {
    height: 50vh;
    margin-left: 130px;
}

